.panel-admin{
  margin: 50px;
}

table {
  border: 1px solid rgba(10, 10, 10, 0.151);
  border-collapse: collapse;
  
}

.tabla-scroll{
  max-width: 1000px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

table thead tr {
  background-color: rgb(63, 63, 63); 
  color:white;
}

table thead tr th {
  padding: 10px 100px;
}



table tbody tr td {
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(53, 53, 53, 0.158);
  
}

.panel-titulo{
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
}
.contenedor-filtro{
  display: flex;
  gap: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(230, 230, 230);
  padding: 30px 50px;
  border-radius: 10px;
}
.filtros-title{
  font-weight: 900;
  font-size: 30px;
}

select {
  border: none;
  padding: 5px 10px;
}

.warning{
  background-color: rgb(255, 229, 31);
}
.submit-btn{
  border: none;
  background-color: rgb(255, 145, 0);
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  font-weight: 900;
}

@media (width < 980px){
  .on-mobile{
    display: none;
  }
  .filtros-title{
    
    font-size: 35px;
  }
  .sublabels{
    font-weight: 400;
    font-size: 25px;
  }
  select{
    font-size: 18px;
    padding: 10px 15px;
  }

  .panel-titulo{
    text-align: center;
    font-size: 50px;
    
  }
  .contenedor-filtro{
    flex-direction: column;
  }

  table thead tr th {
    padding: 20px 80px;
  }
}