.confirmacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 40px;
  gap: 50px;
}

.confirmacion a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 5px;
  color: white;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 15px;
}