.contenedor-login{
  display: flex;
  justify-content: center;
  
}

.formulario-login{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-text{
  font-size: 30px;
  
}

.label-input{
  font-size: 12px;
  text-transform: capitalize;
}

.input-login{
  border: 1px solid rgba(0, 0, 0, 0.171);
  padding: 8px;
  font-size: 12px;
  width: 250px;
  border-radius: 5px;
}

.submit{
  border: none;
  height: 38px;
  background-color: rgb(24, 109, 255);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
