
.links, .cerrar-sesion{
  position: relative;
  transition: all .2s;
  padding: 40px 0px 20px 0px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.links::after, .cerrar-sesion::after{
  border-radius: 1px;
  border-top: 1px solid white;
  content: "";
  position: absolute;
    right: 100%;
    bottom: 1px;
    left: 0;
  transition: right .6s cubic-bezier(0,.5,0,1);
}

.links:hover, .cerrar-sesion:hover {
 
  transform: translateY(-4px);
  text-decoration: none;
}

.links:hover::after, .cerrar-sesion:hover::after{
  right: 0;
}


.cerrar-sesion{
  margin-top: calc(90%);
}



